:root {

  --border-radius: 6px;
  --border-radius-lg: 10px;

  --font-size-large: 1.4rem;
  --font-size-xlarge: 1.15rem;
  --font-size-medium: 1rem;
  --font-size-small: .8rem;
    }

/* -----------------------------*/
:root{
  --primary-light: #090E24;
  --secondary-light: #757676;
  --element-primary-light: #090E24;
  --element-secondary-light: #F6F7F9;
  --bg-light: #ffffff;
  --stroke-light: #E3E3E3;
  --footer-bg-light: #fafafa;

  --primary-dark: #e2e8f0;
  --secondary-dark: #757676;
  --element-primary-dark: #000000;
  --element-secondary-dark: #1f1f22;
  --bg-dark: #121212;
  --stroke-dark: #ffffff24;
  --footer-bg-dark: #000000;

  /* Default = Light */
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --element-primary: var(--element-primary-light);
  --element-secondary: var(--element-secondary-light);
  --color-bg-default: var(--bg-light);
  --color-stroke-default: var(--stroke-light);
  --footer-bg: var(--footer-bg-light);

  color-scheme: light;
}

/* Manuell Dark */
:root[data-theme="dark"]{
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --element-primary: var(--element-primary-dark);
  --element-secondary: var(--element-secondary-dark);
  --color-bg-default: var(--bg-dark);
  --color-stroke-default: var(--stroke-dark);
  --footer-bg: var(--footer-bg-dark);

  color-scheme: dark;
}

/* Auto Dark (nur wenn kein data-theme gesetzt ist) */
@media (prefers-color-scheme: dark){
  :root:not([data-theme]){
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --element-primary: var(--element-primary-dark);
    --element-secondary: var(--element-secondary-dark);
    --color-bg-default: var(--bg-dark);
    --color-stroke-default: var(--stroke-dark);
    --footer-bg: var(--footer-bg-dark);

    color-scheme: dark;
  }
}
/* -----------------------------*/

h2{
  margin: 0;
  color: var(--primary);
  font-size: var(--font-size-large);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-bottom: 1rem;
}
 h3{
  margin: 0;
  margin-bottom: .75rem;
  color: var(--primary);
  font-size: var(--font-size-xlarge);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
.h3-about{
  margin-bottom: 1.25rem;
}
p {
  margin: 0.5rem 0 0 0;
  color: var(--secondary);
  font-size: var(--font-size-medium);
  line-height: 160%;
  font-weight: normal;
}

a {
  color: var(--primary);
  text-decoration: underline;
}
em {
  font-style: italic;
  color: var(--secondary);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  margin: 0;
  background-color: var(--color-bg-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */
.header-container {
  position: relative;
  max-width: 60em;
  margin: 0 auto;       /* wichtig: zentriert */
  padding: 20px;  
}
header {
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;
  position: fixed;
  background-color: var(--color-bg-default);
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10rem;
  padding-bottom: 2rem;
}
main {
  max-width: 60em;
  margin: 0 auto;       /* wichtig: zentriert */
  padding: 0 20px;
}
section {
  margin-bottom: 3rem;
}
.header-container{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.profile-info-title{
  margin: 0;
  color: var(--primary);
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.profile-info-description{
  margin: 0;
  color: var(--secondary);
  font-size: var(--font-size-small);
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.profile{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.profile-picture{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 1000;
}
.profile-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.burger-menu-button{
  border: none;
  background-color: transparent;
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: var(--border-radius-lg);
  color: var(--secondary);
}
.burger-menu-button svg{
  width: 17px;
  height: 14px;
  fill: currentColor;
}
.burger-menu-button:hover{
  background-color: var(--element-secondary);
}

.close-menu-button{
  border: none;
  color: var(--secondary);
  background-color: var(--element-secondary);
  border-radius: var(--border-radius-lg);
  width:40px;
  height:40px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.close-menu-button svg{
  width:24px;
  height:24px;
  display:block;
  fill:none;
  stroke:currentColor;
  stroke-width:2;
  stroke-linecap:round;
  stroke-linejoin:round;
}


.burger-menu-button,
.close-menu-button {
  cursor: pointer;
}

/* Close-Button initial versteckt */
.close-menu-button {
  display: none;
}

/* Menü offen */
.menu-open .burger-menu-button {
  display: none;
}

.menu-open .close-menu-button {
  display: flex;
}


/* Keyframes + Easing */
@keyframes stack-to-left {
  0% { transform: translate(12px); opacity: 0; }
  60% { opacity: 1; }
  100% { transform: translate(0); opacity: 1; }
}

:root {
  --snappy-animation: cubic-bezier(.33, 1.6, .66, 1);
}

/* Navigation Menu - innerhalb des Headers, über die ganze Breite */
#myLinks {
  display: none;
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  height: 40px;
  background-color: var(--element-secondary);
  justify-content: flex-end;
  align-items: center;
  margin-right: 65px;
  margin-left: 12px;
  padding: 8px 0px;
  padding-right: 8px;
  border-radius: 100px;
}

/* Öffnen: Container animiert rein */
#myLinks.is-open {
  display: flex;
  animation: .3s stack-to-left var(--snappy-animation);
}

.link-btn {
  display: inline-block;
  color: var(--primary);
  padding: 10px 16px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  border-radius: 100px;
}

/* Öffnen: Links laufen gestaffelt rein */
#myLinks.is-open .link-btn {
  animation: .3s stack-to-left var(--snappy-animation);
  animation-fill-mode: forwards;
  transform: translate(12px);
  opacity: 0;
}

/* Stagger (für 3 Links) */
#myLinks.is-open .link-btn:nth-child(1) { animation-delay: .05s; }
#myLinks.is-open .link-btn:nth-child(2) { animation-delay: .03s; }
#myLinks.is-open .link-btn:nth-child(3) { animation-delay: .02s; }

.link-btn.active,
.link-btn:hover {
  background-color: var(--color-bg-default);
}
    

/* Profile ausblenden wenn Menü offen ist */
.profile-info.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

/* Call to Action */
.cta-btns {
  display: flex;
  gap: 1rem;
}

/* Kontakt Liste */
.contact-list {
  display: grid;
  gap: 8px;
  margin-top: 1rem;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--element-secondary);
  text-decoration: none;
  border-radius: 12px;
}
.contact-item:hover {
  background-color: var(--element-primary);
}
.contact-item h4, .contact-item p {
  margin: 0;
  font-weight: normal;
  font-size: var(--font-size-medium);
}
.contact-item-icon {
  align-items: center;
  display: flex;
  gap: 6px;
  color: var(--secondary);
}
.arrow-down {
  transform: rotate(135deg);
}

/*Projekt-Section*/
.filter-buttons {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.filter-buttons::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.filter-btn {
  font-size: var(--font-size-small);
  color: var(--secondary);
  font-weight: normal;
  white-space: nowrap;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--element-secondary);
  transition: background-color 0.2s, color 0.2s;
}
.filter-btn.active,
.filter-btn:hover {
  background-color: var(--element-primary);
  color: white;
}

/* About-Section Bild */
.about-picture {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: var(--border-radius-lg);
}

/* Accordion */
.accordion-wrapper {
  display: grid;
  gap: 1rem;
}

.accordion-item {
  border-bottom: 1px solid var(--color-stroke-default);
}

.accordion {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
  padding-bottom: 1rem;
}

.accordion-content-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
  letter-spacing: -2%;
}

.accordion-title {
  font-size: var(--font-size-medium);
  display: flex;
  align-items: center;
  margin: 0;
  gap: 8px;
  font-weight: normal;
  color: inherit;
}
.pulsing-dot {
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 10px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #1dab62;
  box-shadow: 0 0 0 0 #1dab62;
  animation: pulse 3s infinite
}

.pulsing-dot:hover {
    animation: pulse-hover 3s infinite;
    transform:scale(.85)
}

@keyframes pulse {
    0% {
        transform: scale(.9);
        box-shadow:0 0 #1dab62cc
    }

    70% {
        transform: scale(1);
        box-shadow:0 0 0 6px #1dab6200
    }

    to {
        transform: scale(.9);
        box-shadow:0 0 #1dab6200
    }
}

@keyframes pulse-hover {
    0% {
        transform: scale(.9);
        box-shadow:0 0 #1dab62cc
    }

    70% {
        transform: scale(1);
        box-shadow:0 0 0 12px #1dab6200
    }

    to {
        transform: scale(.9);
        box-shadow:0 0 #1dab6200
    }
}

.accordion-subtitle {
  font-size: var(--font-size-medium);
  font-weight: normal;
  color: var(--secondary);
}
.accordion-right {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
}

.accordion-date {
  font-size: var(--font-size-medium);
  font-weight: normal;
  color: var(--secondary);
  text-align: right;
}

.accordion-icon {
  display: flex;
min-height: 18px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 10px;
align-self: stretch;
color: var(--primary);
}
.caret {
  transition: transform 0.2s ease;
  stroke: currentColor;
  stroke-width: 2.2;      
  color: inherit;
  width: var(--font-size-medium);
  height: var(--font-size-medium);
}
.accordion[aria-expanded="false"] .caret {
  transform: rotate(0deg);
}
.accordion[aria-expanded="true"] .caret {
  transform: rotate(180deg);
}

.panel {
  margin-top: 0rem;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.panel.show {
  max-height: 500px;
  padding-bottom: 20px;
}

.panel p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.button {
  font-size: var(--font-size-small);
  text-decoration: none;
  cursor: pointer;
  color: white;
  padding: 6px 12px;
  background-color: #000;
  border-radius: var(--border-radius);
}

.button-neumorph-1 {
  margin: 2px;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 0 0 1px #DDD, 0 0 0 1px #DDD, 0 0 0 1px #DDD, 0 2px 6px -2px #D4D4D4, 0 -3px 0 0 #F6F6F6 inset;
  text-decoration: none;
}
.button-neumorph-1:active {
background: var(--button-fade, linear-gradient(180deg, #F4F4F4 0%, #FFF 100%));
box-shadow: 0 0 0 1px #DDD, 0 2px 6px -2px #D4D4D4;}

/* Bento grid */
.bento-container {
  display: flex;
  justify-content: stretch;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  grid-template-areas:
    "box-1 box-2"
    "box-3 box-2"
    "box-3 box-4"
    "box-5 box-4";
}
.box {
  background-color: var(--element-secondary);
  border-radius: var(--border-radius-lg);
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}



/*Projekte*/
.projects-wrapper {
  display: grid;
  gap: 1rem;
}

.project-card {
  border: none;
  margin: 1rem 0;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease;
  flex: 1;
  justify-content: space-between;
  gap: 6px;
  border-bottom: 5px var(--color-stroke-default);
}
.project-card.hidden {
  display: none;
}


.project-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  letter-spacing: -2%;
}

.project-title {
  font-size: var(--font-size-medium);
  display: flex;
  align-items: center;
  margin: 0;
}

.project-subtitle {
  font-size: var(--font-size-medium);
  color: var(--secondary);
}

.project-image {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: var(--border-radius);
  object-fit: cover;
}




/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 250ms ease, backdrop-filter 250ms ease;

}

.modal-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-default);
  margin: auto;
  align-content: end;
  border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
}

.modal-header {
  position: sticky;
  top: 0;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  padding: 16px 20px;
  background-color: var(--color-bg-default);
  border-bottom: 1px solid var(--color-stroke-default);
}

.modal-title {
  grid-column: 2;
  margin: 0;
  text-align: center;
}
.modal-body {
  overflow-y: auto;
  flex-grow: 1;
  padding: 20px;
}
.close {
  /*
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--element-secondary);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0; */

  grid-column: 3;
  justify-self: end;

  background-color: var(--element-secondary);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.close svg {
  width: 23px;
  height: 23px;
}

.close svg path {
  fill: none;
  stroke: var(--secondary);
  stroke-width: 2.5;
  stroke-linecap: round;
}

.banner-image {
  width: 100%;
  border-radius: var(--border-radius-lg);
}


/* Skills */
 /* Kenntnisse */
.skills-grid{
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: minmax(106px, 1fr) 2fr;
  gap: 1.25rem 1rem;             /* row gap / column gap */
}

.skills-title{
  margin: 0;
  font-size: var(--font-size-medium);
  font-weight: 500;
  color: var(--primary);
  hyphens: auto;
}

.skills-list{
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  color: var(--secondary);
  border-bottom: 1px solid var(--color-stroke-default);
}

.skills-list li{
  list-style: none;
  line-height: 160%;
  font-weight: normal;
  font-size: var(--font-size-medium);
}



/* Footer */
footer {
  margin: 0 auto;       /* wichtig: zentriert */
  padding: 0 20px;

  margin-top: 100px;
  padding: 6rem 20px 4rem; /*oben, links/rechts, unten */
  display: grid;
  background-color: var(--footer-bg);
}
.footer-center,
.footer-bottom{
  max-width: 60em;
  width: 100%;
  margin: 0 auto;
}

.footer-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 2rem;
}
    .footer-center-left,
    .footer-center-right {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
    .footer-center-left {
      align-items: flex-start;
      gap: 1rem;
    }
    .footer-center-right {
      align-items: flex-end;
    }

    .footer-center a {
      text-decoration: none;
      color: var(--primary);
      font-size: var(--font-size-small);
      transition: color 0.2s;
      display: inline-flex;
      align-items: center;
    }



    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 0.5rem;
      border-top: 1px solid var(--color-stroke-default);
    }

    .footer-bottom-left {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: flex-start;
    }

    .footer-bottom-right {
      text-align: right;
    }

/* robust im Footer (verhindert Überschreibungen durch globale button Styles) */
footer .theme-control{
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 1px;
  border-radius: 999px;
  background: var(--element-secondary);
  border: 1px solid var(--color-stroke-default);
}

footer .theme-control .theme-btn{
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  line-height: 1;
  border: 0;
  background: transparent;
  color: var(--primary);
  font-size: var(--font-size-small);
  padding: 4px 6px;
  border-radius: 999px;
  cursor: pointer;
  text-decoration: none;
}

footer .theme-control .theme-btn[aria-pressed="true"]{
  background: var(--color-bg-default);
}

    .footer-bottom a {
      text-decoration: none;
      color: var(--secondary);
      font-size: var(--font-size-small);
    }

    .footer-bottom-right p {
      margin: 0;
      color: var(--secondary);
      font-size: var(--font-size-small);
    }




@media (min-width: 501px) {
  .burger-menu-button,
  .close-menu-button {
    display: none !important;
  }

  #myLinks {
    display: flex !important;
    position: static;          /* statt absolute */
    height: auto;
    margin: 0;                 /* keine Overlay-Margins */
    padding: 0;
    background: transparent;   /* oder var(--element-secondary) wenn du die Pill willst */
    border-radius: 0;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    animation: none;           /* keine Burger-Animation */
  }

  /* Links nicht mehr "staggern" */
  #myLinks .link-btn {
    transform: none !important;
    opacity: 1 !important;
    animation: none !important;
    text-decoration: none;
  }
  .link-btn.active,
.link-btn:hover {
  background-color: var(--element-secondary);
}

  .menu-open .profile-info {
    visibility: visible;
    opacity: 1;
  }
 
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
   /*backdrop-filter: blur(20px); */
     background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.modal-body {
  overflow-y: auto;
  flex-grow: 1;
  padding: 40px 30px 40px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

}

@media (min-width: 939px) {
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
   /*backdrop-filter: blur(20px); */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -28%);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: var(--border-radius-lg);
}
.modal-body {
  overflow-y: auto;
  flex-grow: 1;
  padding: 40px 30px 40px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/*bento*/
.bento-container {
  display: flex;
  justify-content: stretch;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  grid-template-areas:
    "box-1 box-2 box-2 box-3"
    "box-1 box-4 box-5 box-5";
}
.box {
  background-color: var(--element-secondary);
  border-radius: var(--border-radius-lg);
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}
}