:root {
  --primary: #090E24;
  --secondary: #757676;
  --element-primary: #090E24;
  --element-secondary: #F6F7F9;
  --border-radius: 6px;
  --border-radius-lg: 10px;
  --color-bg-default: #fff;
  --color-stroke-default: #E3E3E3;

--font-size-large: 22px;
--font-size-medium: 1rem;
--font-size-small: .8rem;
    }


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  margin: auto;
}

/* Header */
header {
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
  background-color: var(--color-bg-default);
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10rem;

}
.h2-title{
  margin: 0;
  color: var(--primary);
  font-size: var(--font-size-large);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}
.p-description{
  margin: 8px 0 0 0;
  color: var(--secondary);
  font-size: var(--font-size-medium);
  line-height: 160%;
  font-weight: 300;
}
main {
  margin: 0 20px;
}
.header-container{
  padding: 44px  20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.profile-info-title{
  margin: 0;
  color: var(--primary);
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.profile-info-description{
  margin: 0;
  color: var(--secondary);
  font-size: var(--font-size-small);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.profile-picture{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 1000;
}
.profile-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.burger-menu-button{
  display: flex;
  width: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius-lg);
}
.burger-menu-button:hover{
  background-color: var(--element-secondary);
}

/*Projekt-Section*/
.filter-buttons {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 16px 0;
  margin-bottom: 16px;
}
.filter-btn {
  font-size: var(--font-size-small);
  font-weight: 300;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--element-secondary);
  transition: background-color 0.2s, color 0.2s;
}
.filter-btn.active,
.filter-btn:hover {
  background-color: var(--element-primary);
  color: white;
}
    
/*Modal*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-body {
  overflow-y: auto;
  flex-grow: 1;
  padding: 80px 10% 100px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  color: var(--secondary);
  border: 1px solid var(--tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.close:hover {
  background: var(--element-primary);
  border-color: var(--secondary);
}
.close svg {
  fill: var(--secondary);
  width: 16px;
  height: 16px;
  pointer-events: none; /* Klicks gehen zum Button */
}


/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.modal-body {
  overflow-y: auto;
  flex-grow: 1;
  padding: 40px 65px 40px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  background-color: var(--element-primary);
}
.close:hover {
  background-color: var(--element-secondary);
}
.close svg {
  fill: black;
  width: 16px;
  height: 16px;
  pointer-events: none;
}


/* Footer */
footer {
  margin-top: 100px;
  padding: 4rem 20px 2rem; /*oben, links/rechts, unten */
  display: grid;
  background-color: #fafafa;
}
.footer-center {
  display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1rem;
      gap: 2rem;
}
    .footer-center-left,
    .footer-center-right {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
    .footer-center-left {
      align-items: flex-start;
      gap: 1rem;
    }
    .footer-center-right {
      align-items: flex-end;
    }

    .footer-center a {
      text-decoration: none;
      color: var(--secondary);
      font-size: .8rem;
      transition: color 0.2s;
      display: inline-flex;
      align-items: center;
    }



    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 0.5rem;
      border-top: 1px solid var(--color-stroke-default);
    }

    .footer-bottom-left {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: flex-start;
    }

    .footer-bottom-right {
      text-align: right;
    }

    .footer-bottom a {
      text-decoration: none;
      color: var(--secondary);
      font-size: 0.7rem;
    }

    .footer-bottom-right p {
      margin: 0;
      color: var(--secondary);
      font-size: 0.7rem;
    }
